body {
background-color: black;

}

@font-face {
  font-family: Limelight;
  src: url(Limelight-Regular.ttf);
}

@font-face {
  font-family: Cardo;
  src: url(Cardo-Regular.ttf);
}

@font-face {
  font-family: Cardo;
  src: url(Cardo-Bold.ttf);
  font-weight: bold;
}

h1 {
font-family: Limelight;
color: white;
font-size: 60px;
}

h2 {
font-family: Helvetica;
color: white;
font-size: 12px;
}

h3 {
font-family: Helvetica;
color: white;
font-size: 12px;
font-weight: 600;
}

figcaption {
font-family: Helvetica;
color: white;
font-size: 15px;
}

p {
font-family: Helvetica;
color: white;
font-size: 16px;
}

/* .image-block {
  width: 50%;
  height: 50%;
} */




/* These styles are just to make it easier to see the blocks, initially. */


.title {
  color: white;
  /* height: 100px;
  width: 300px;
  position: absolute;
  text-align: left;
  padding-top:20px;
  padding-bottom: 20px;*/
  top:50px;
  background-color: black;
}

.description {
  color: white;
}

h2 {
    text-align: center;
    top: 300px;
}

a {
  /* position:absolute; */
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

p {
  display: none;
  top: 200px;
}

#channel-title {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
	color: white;
  text-shadow: 2px 2px 35px #D3D3D3;
	/* position: fixed; */
	margin-bottom:100px;
  width: 100%;
}

#channel-description {
  top: 100px;
}


figure {
	display: flex;
  flex-direction: column;
	padding-bottom: 25%;
	position: relative;
	overflow-y: hidden;
}

body {
  width: 100%;
  /* display: flex;
	flex-direction: row; */
}



.image-block {
  background-color;
	width: 200px;
  height: 200px;
  margin: 10px;
}

.embed-block {
	width: 200px;
  height: 200px;
  margin: 10px;
}

.link-block {
	width: 200px;
  height: 200px;
  margin: 10px;
}

.pdf-block {
	width: 200px;
  height: 200px;
  margin: 10px;
}

.text-block {
	width: 200px;
  height: 200px;
  margin: 10px;
}

.video-embed-block {
	width: 200px;
  height: 200px;
  margin: 10px;
}

.test-class{
  background-color: red;
  width: 2000px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;


}
.blank{
  height: 100px;
  width: 100px;
  background-color: yellow;
  margin: 10px;
}
